<!DOCTYPE html>
<html lang="en">

<!-- Mirrored from responsivewebinc.com/premium/metroking/ by HTTrack Website Copier/3.x [XR&CO'2013], Sun, 20 Oct 2013 23:28:21 GMT -->
<head>
    <meta http-equiv="Content-Type" content="text/html; charset=UTF-8">
    <meta charset="utf-8">
    <!-- Title and other stuffs -->
    <title>STT-Soft</title>
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta name="description" content="">
    <meta name="keywords" content="">
    <meta name="author" content="">


    <!-- Stylesheets -->
    <link href="@Url.Content("~/Content/style/bootstrap.css")" rel="stylesheet" type="text/css" />
    <!-- Font awesome icon -->
    <link href="@Url.Content("~/Content/style/font-awesome.css")" rel="stylesheet" type="text/css" />

    <!-- jQuery UI -->
    <link href="@Url.Content("~/Content/style/jquery-ui.css")" rel="stylesheet" type="text/css" />

    <!-- Calendar -->
    <link href="@Url.Content("~/Content/style/fullcalendar.css")" rel="stylesheet" type="text/css" />

    <!-- prettyPhoto -->
    <link href="@Url.Content("~/Content/style/prettyPhoto.css")" rel="stylesheet" type="text/css" />

    <!-- Star rating -->
    <link href="@Url.Content("~/Content/style/rateit.css")" rel="stylesheet" type="text/css" />

    <!-- Date picker -->
    <link href="@Url.Content("~/Content/style/bootstrap-datetimepicker.min.css")" rel="stylesheet" type="text/css" />

    <!-- jQuery Gritter -->

    <!-- CLEditor -->
    <link href="@Url.Content("~/Content/style/jquery.cleditor.css")" rel="stylesheet" type="text/css" />

    <!-- Bootstrap toggle -->
    <link href="@Url.Content("~/Content/style/bootstrap-switch.css")" rel="stylesheet" type="text/css" />

    <!-- Main stylesheet -->
    <link href="@Url.Content("~/Content/style/style.css")" rel="stylesheet" type="text/css" />

    <!-- Widgets stylesheet -->
    <link href="@Url.Content("~/Content/style/widgets.css")" rel="stylesheet" type="text/css" />




    <!-- HTML5 Support for IE -->
    <!--[if lt IE 9]>
  <script src="js/html5shim.js"></script>
  <![endif]-->

    <!-- Favicon -->
    <link rel="shortcut icon" href="/Content/img/favicon/favicon.png">
</head>

<body>

    <div class="navbar navbar-inverse navbar-fixed-top bs-docs-nav" role="banner">

        <div class="containerk">
            <!-- Menu button for smallar screens -->
            <div class="navbar-header">
                <button class="navbar-toggle" type="button" data-toggle="collapse" data-target=".bs-navbar-collapse">
                    <span class="sr-only">Toggle navigation</span>
                    <span class="icon-bar"></span>
                    <span class="icon-bar"></span>
                    <span class="icon-bar"></span>
                </button>
                <a href="index-2.html" class="navbar-brand">Metro <span class="bold">King</span></a>
            </div>
            <!-- Site name for smallar screens -->


            <!-- Navigation starts -->
            <nav class="collapse navbar-collapse bs-navbar-collapse" role="navigation">



                <!-- Links -->
                <ul class="nav navbar-nav navbar-right">
                    <li class="dropdown">
                        <a data-toggle="dropdown" class="dropdown-toggle" href="#">
                            <img src="~/Content/img/user.jpg" alt="" class="nav-user-pic img-responsive" />
                            Account <b class="caret"></b>
                        </a>

                        <!-- Dropdown menu -->
                        @if (Session["username"] != null)
                        {
                            <ul class="dropdown-menu">
                                <li><a>Welcome:<span class="text-danger">@Session["username"]</span></a></li>
                                <li><a href="@Url.Action("Logout", "Account")"><i class="icon-off"></i>Logout</a></li>
                            </ul>
                        }
                        else
                        {
                             <ul class="dropdown-menu">
                                <li><a href="@Url.Action("Login", "Account")"><i class="icon-off"></i>Login</a></li>
                                <li><a href="@Url.Action("Register", "Account")"><i class="icon-off"></i>Register</a></li>
                            </ul>
                        }
                    </li>

                </ul>

                <!-- Notifications -->
                <ul class="nav navbar-nav navbar-right">

                    <!-- Message button with number of latest messages count-->
                    <li class="dropdown dropdown-big">
                        <a class="dropdown-toggle" href="/Cart/ShopingCart" >
                            <i class="icon-coffee"></i>Giỏ hàng <span class="badge badge-important">@Html.Action("BasketPartialView","Home")</span>
                        </a>

                        
                    </li>

                    <!-- Members button with number of latest members count -->
                    <li class="dropdown dropdown-big">
                        <a class="dropdown-toggle" href="#" data-toggle="dropdown">
                            <i class="icon-user"></i>Users <span class="badge badge-success">6</span>
                        </a>

                        <ul class="dropdown-menu">
                            <li>
                                <!-- Heading - h5 -->
                                <h5><i class="icon-user"></i>Users</h5>
                                <!-- Use hr tag to add border -->
                                <hr />
                            </li>
                            <li>
                                <!-- List item heading h6-->
                                <a href="#">Ravi Kumar</a> <span class="label label-warning pull-right">Free</span>
                                <div class="clearfix"></div>
                                <hr />
                            </li>
                            <li>
                                <a href="#">Balaji</a> <span class="label label-important pull-right">Premium</span>
                                <div class="clearfix"></div>
                                <hr />
                            </li>
                            <li>
                                <a href="#">Kumarasamy</a> <span class="label label-warning pull-right">Free</span>
                                <div class="clearfix"></div>
                                <hr />
                            </li>
                            <li>
                                <div class="drop-foot">
                                    <a href="#">View All</a>
                                </div>
                            </li>
                        </ul>
                    </li>

                </ul>
            </nav>
        </div>

    </div>




    <!-- Main content starts -->

    <div class="content">

        <!-- Sidebar -->
        <div class="sidebar">
            <div class="sidebar-dropdown"><a href="#">Navigation</a></div>

            <div class="sidebar-inner">



                <!-- Search form -->
                <div class="sidebar-widget">
                    <form>
                        <input type="text" class="form-control" placeholder="Search">
                    </form>
                </div>

                <!--- Sidebar navigation -->
                <!-- If the main navigation has sub navigation, then add the class "has_submenu" to "li" of main navigation. -->
                <ul class="navi">

                    <!-- Use the class nred, ngreen, nblue, nlightblue, nviolet or norange to add background color. You need to use this in <li> tag. -->

                    <li class="nred current"><a href="@Url.Action("Index", "Home")"><i class="icon-desktop"></i>Trang chủ</a></li>

                    <!-- Menu with sub menu -->
                    <li class="has_submenu nlightblue">
                        <a href="#">
                            <!-- Menu name with icon -->
                            <i class="icon-th"></i>Danh mục
                            <!-- Icon for dropdown -->
                            <span class="pull-right"><i class="icon-angle-right"></i></span>
                        </a>

                        <ul>
                            <li>@{Html.RenderAction("GenreMenu","Home");}</li>
                        </ul>
                    </li>
                    @if (Session["username"] != null)
                    {
                        if ((string)Session["role"] == "A")
                        {
                        <li class="has_submenu nviolet">
                            <a href="#">
                                <i class="icon-file-alt"></i>Admin
                                 <span class="pull-right"><i class="icon-angle-right"></i></span>
                            </a>

                            <ul>
                                <li><a href="@Url.Action("ProductList", "Admin")">Quản lý sản phẩm</a></li>
                                <li><a href="@Url.Action("CatalogList", "Admin")">Quản lý danh mục</a></li>
                                <li><a href="@Url.Action("AccountList", "Admin")">Quản lý tài khoản</a></li>
                                <li><a href="@Url.Action("OrderList", "Admin")">Quản lý order</a></li>
                            </ul>
                        </li>
                        }
                        else if ((string)Session["role"] == "D")
                        {
                        <li class="has_submenu nblue">
                            <a href="#">
                                <i class="icon-file-alt"></i>Đại lý
                               <span class="pull-right"><i class="icon-angle-right"></i></span>
                            </a>

                            <ul>
                                <li><a href="error.html">Error</a></li>
                                <li><a href="gallery.html">Gallery</a></li>
                                <li><a href="grid.html">Grid</a></li>
                                <li><a href="invoice.html">Invoice</a></li>
                                <li><a href="media.html">Media</a></li>
                                <li><a href="profile.html">Profile</a></li>
                            </ul>
                        </li>
                        }
                    }
                </ul>
                <!-- Date -->

                <div class="sidebar-widget">
                    <div id="todaydate"></div>
                </div>



            </div>

        </div>

        <!-- Sidebar ends -->

        <!-- Main bar -->
        <div class="mainbar">

         



            <!-- Matter -->

            <div class="matter">
                <div class="container">

                  @RenderBody()


                </div>
            </div>

            <!-- Matter ends -->

        </div>

        <!-- Mainbar ends -->
        <div class="clearfix"></div>

    </div>
    <!-- Content ends -->

    <!-- Scroll to top -->
    <span class="totop"><a href="#"><i class="icon-chevron-up"></i></a></span>

    <!-- JS -->
    <script src="@Url.Content("~/Content/js/jquery.js")"></script>
    <script src="@Url.Content("~/Content/js/bootstrap.js")"></script>
    <script src="@Url.Content("~/Content/js/jquery-ui-1.10.2.custom.min.js")"></script>
    <script src="@Url.Content("~/Content/js/fullcalendar.min.js")"></script>
    <script src="@Url.Content("~/Content/js/jquery.rateit.min.js")"></script>
    <script src="@Url.Content("~/Content/js/jquery.prettyPhoto.js")"></script>

    <!-- jQuery Flot -->
    <script src="@Url.Content("~/Content/js/excanvas.min.js")"></script>
    <script src="@Url.Content("~/Content/js/jquery.flot.js")"></script>
    <script src="@Url.Content("~/Content/js/jquery.flot.resize.js")"></script>
    <script src="@Url.Content("~/Content/js/jquery.flot.pie.js")"></script>
    <script src="@Url.Content("~/Content/js/jquery.flot.stack.js")"></script>
    <script src="@Url.Content("~/Content/js/sparklines.js")"></script>
    <script src="@Url.Content("~/Content/js/jquery.cleditor.min.js")"></script>
    <script src="@Url.Content("~/Content/js/bootstrap-datetimepicker.min.js")"></script>
    <script src="@Url.Content("~/Content/js/bootstrap-switch.min.js")"></script>
    <script src="@Url.Content("~/Content/js/filter.js")"></script>
    <script src="@Url.Content("~/Content/js/custom.js")"></script>
    <script src="@Url.Content("~/Content/js/charts.js")"></script>









    <!-- Script for this page -->
    <script type="text/javascript">
        $(function () {

            /* Bar Chart starts */

            var d1 = [];
            for (var i = 0; i <= 30; i += 1)
                d1.push([i, parseInt(Math.random() * 30)]);

            var d2 = [];
            for (var i = 0; i <= 30; i += 1)
                d2.push([i, parseInt(Math.random() * 30)]);


            var stack = 0, bars = true, lines = false, steps = false;

            function plotWithOptions() {
                $.plot($("#bar-chart"), [d1, d2], {
                    series: {
                        stack: stack,
                        lines: { show: lines, fill: true, steps: steps },
                        bars: { show: bars, barWidth: 0.8 }
                    },
                    grid: {
                        borderWidth: 0, hoverable: true, color: "#777"
                    },
                    colors: ["#52b9e9", "#0aa4eb"],
                    bars: {
                        show: true,
                        lineWidth: 0,
                        fill: true,
                        fillColor: { colors: [{ opacity: 0.9 }, { opacity: 0.8 }] }
                    }
                });
            }

            plotWithOptions();

            $(".stackControls input").click(function (e) {
                e.preventDefault();
                stack = $(this).val() == "With stacking" ? true : null;
                plotWithOptions();
            });
            $(".graphControls input").click(function (e) {
                e.preventDefault();
                bars = $(this).val().indexOf("Bars") != -1;
                lines = $(this).val().indexOf("Lines") != -1;
                steps = $(this).val().indexOf("steps") != -1;
                plotWithOptions();
            });

            /* Bar chart ends */

        });


        /* Curve chart starts */

        $(function () {
            var sin = [], cos = [];
            for (var i = 0; i < 14; i += 0.5) {
                sin.push([i, Math.sin(i)]);
                cos.push([i, Math.cos(i)]);
            }

            var plot = $.plot($("#curve-chart"),
                   [{ data: sin, label: "sin(x)" }, { data: cos, label: "cos(x)" }], {
                       series: {
                           lines: {
                               show: true,
                               fill: true,
                               fillColor: {
                                   colors: [{
                                       opacity: 0.05
                                   }, {
                                       opacity: 0.01
                                   }]
                               }
                           },
                           points: { show: true }
                       },
                       grid: { hoverable: true, clickable: true, borderWidth: 0 },
                       yaxis: { min: -1.2, max: 1.2 },
                       colors: ["#fa3031", "#43c83c"]
                   });


            function showTooltip(x, y, contents) {
                $('<div id="tooltip">' + contents + '</div>').css({
                    position: 'absolute',
                    display: 'none',
                    top: y + 5,
                    width: 100,
                    left: x + 5,
                    border: '1px solid #000',
                    padding: '2px 8px',
                    color: '#ccc',
                    'background-color': '#000',
                    opacity: 0.9
                }).appendTo("body").fadeIn(200);
            }

            var previousPoint = null;
            $("#curve-chart").bind("plothover", function (event, pos, item) {
                $("#x").text(pos.x.toFixed(2));
                $("#y").text(pos.y.toFixed(2));

                if (item) {
                    if (previousPoint != item.dataIndex) {
                        previousPoint = item.dataIndex;

                        $("#tooltip").remove();
                        var x = item.datapoint[0].toFixed(2),
                            y = item.datapoint[1].toFixed(2);

                        showTooltip(item.pageX, item.pageY, item.series.label + " of " + x + " = " + y);
                    }
                }
                else {
                    $("#tooltip").remove();
                    previousPoint = null;
                }
            });

            $("#curve-chart").bind("plotclick", function (event, pos, item) {
                if (item) {
                    $("#clickdata").text("You clicked point " + item.dataIndex + " in " + item.series.label + ".");
                    plot.highlight(item.series, item.datapoint);
                }
            });

        });

        /* Curve chart ends */
    </script>

</body>

<!-- Mirrored from responsivewebinc.com/premium/metroking/ by HTTrack Website Copier/3.x [XR&CO'2013], Sun, 20 Oct 2013 23:29:11 GMT -->
</html>
