@{
    ViewBag.Title = "OrderEdit";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<h2>OrderEdit</h2>

@model STTSoft.Models.OrOrdProModel
           
<form action="/Admin/OrderEdit" method="POST">     
    Name: @Model.Order.AccName <br/>
    Date: @Model.Order.OrDate <br/>
    Product: @Model.Product.ProName <br/>
    Saler: @Model.OrderDetail.OrdSaler <br/>
    Image: @Model.Product.ProImage <br/>
    Price: @Model.Product.ProPrice <br/>
    <input type="hidden" name="txtOrdId" value="@Model.OrderDetail.OrdId"/>
    Quantity: <input name="txtQantity" value="@Model.OrderDetail.OrdQuantity"/>
    <button type="submit"  class="btn btn-primary">Submit</button>
</form>  


    <table class="table-hover">
        <tr>
            <td>Name
            </td>
            <td>
                @Model.Order.AccName
            </td>
        </tr>
        <tr>
            <td>Date
            </td>
            <td>
                @Model.Order.OrDate
            </td>
        </tr>
        <tr>
            <td>Product
            </td>
            <td>
                @Model.Product.ProName
            </td>
        </tr>
        <tr>
            <td>Saler
            </td>
            <td>
                @Model.OrderDetail.OrdSaler
            </td>
        </tr>
        <tr>
            <td>Image
            </td>
            <td>
                @Model.Product.ProImage
            </td>
        </tr>
        <tr>
            <td>Price
            </td>
            <td>
                @Model.Product.ProPrice.ToString("0,0") VND
            </td>
        </tr>
         <tr>
            <td>Quantity
            </td>
            <td>
                <input name="txtQantity" value="@Model.OrderDetail.OrdQuantity"/>
                <input type="hidden" name="txtOrdId" value="@Model.OrderDetail.OrdId"/>
            </td>
        </tr>
        <tr>
            <td>
                <button type="submit" class="btn btn-primary">
                    Submit</button></td>

        </tr>
    </table>