 @model STTSoft.Models.Product
@{
    ViewBag.Title = "ProductEdit";
    Layout = "~/Views/Shared/_Layout.cshtml";
}
@if ((string)Session["role"] == "A")
{
    <h2>ProductEdit</h2>

   
<form onsubmit="return validateNumber()" action="/Admin/ProductEdit" method="POST">

    <table class="table-hover">
        <tr>
            <td>ID
            </td>
            <td>
                <input name="txtproId" value="@Model.ProId"/>
            </td>
        </tr>
        <tr>
            <td>Name
            </td>
            <td>
                <input name="txtName" value="@Model.ProName"/>
            </td>
        </tr>
        <tr>
            <td>Detail
            </td>
            <td>
                <input name="txtDetail" value="@Model.ProDetail"/>
            </td>
        </tr>
        <tr>
            <td>Image
            </td>
            <td>
                <input name="txtImage" value="@Model.ProImage"/>
            </td>
        </tr>
        <tr>
            <td>Price
            </td>
            <td>
                <input name="txtPrice" id="numberProduct" value="@Model.ProPrice.ToString("0,0")"/>
                VND
                 <span id="numberProductError" class="red"></span>
            </td>
        </tr>
        <tr>
            <td>
                <button type="submit" class="btn btn-primary" id="CreateNum">
                    Submit</button></td>

        </tr>
    </table>
    </form>
}
else
{
    <div class="row">
        <h2>Bạn không có quyền truy cập trang này.  <a href="@Url.Action("Index", "Home")">Click here</a></h2>
    </div>
}