@{
    ViewBag.Title = "ShopingCart";
    Layout = "~/Views/Shared/_Layout.cshtml";
}
<!-- Page heading -->
<div class="page-head">
    <!-- Page heading -->
    <h2 class="pull-left">
        Shopping Cart
        <!-- page meta -->
    </h2>
    <div class="clearfix">
    </div>
</div>
<!-- Page heading ends -->
@using STTSoft.Controllers
@{List<Prodetail> list = ViewBag.ListCartDetail;}
<div class="row">
    <div class="col-md-12">
        <div class="widget wred">
            <div class="widget-head">
                <div class="pull-left">
                    Cart</div>
                <div class="widget-icons pull-right">
                    <a href="#" class="wminimize"><i class="icon-chevron-up"></i></a>
                </div>
                <div class="clearfix">
                </div>
            </div>
            <div class="widget-content medias">
                @foreach (var p in list)
                {
                    <table class="table table-bordered ">
                        <thead>
                            <tr>
                                <th style="color: royalblue">
                                    Img
                                </th>
                                <th style="color: royalblue">
                                    Tên sản phẩm
                                </th>
                                <th style="color: royalblue">
                                    Số lượng
                                </th>
                                <th style="color: royalblue">
                                    Date
                                </th>
                                <th style="color: royalblue">
                                    Giá
                                </th>
                                <th style="color: royalblue">
                                    Control
                                </th>
                            </tr>
                        </thead>
                        <tbody>
                            <tr>
                                <form action="/Cart/ManageCart" method="POST">
                                <td>
                                    <img src="@p.Image">
                                </td>
                                <td>
                                    <a href="#">@p.Name</a>
                                </td>
                                <td>
                                      <input name="txtQuantity@(p.Id)" value="@p.Quantity" type="text"/> 
                                </td>
                                <td>
                                    @p.time
                                </td>
                                <td>
                                    @p.Price.ToString("0,0") VND
                                </td>
                                <td>
                                    <button class="btn btn-sm btn-danger" value="Save.@(p.Id)" type="submit" name="btn">
                                        <i class="icon-pencil"></i>
                                    </button>
                                    <button class="btn btn-sm btn-info" value="delete.@(p.Id)" type="submit" name="btn">
                                        <i class="icon-remove"></i>
                                    </button>
                                </td>
                                </form>
                            </tr>
                        </tbody>
                    </table>
                }
            </div>
            <div class="widget-foot">
                <button type="button" class="btn btn-primary">
                    Thanh toán</button>
                <a href="@Url.Action("Index", "Home")" class="btn btn-default">Tiếp tục mua hàng</a>
                <div class="clearfix">
                </div>
            </div>
        </div>
    </div>
</div>
