@{
    ViewBag.Title = "ProductEdit";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<h2>ProductEdit</h2>

@model STTSoft.Models.Product

<form action="/Admin/ProductEdit" method="POST">
    ID :  <input name="txtproId" value="@Model.ProId"/>   <br/>
    Name: <input name="txtName" value="@Model.ProName"/><br/>
    Detail: <input name="txtDetail" value="@Model.ProDetail"/><br/>
    Image: <input name="txtImage" value="@Model.ProImage"/><br/>
    Price: <input name="txtPrice" value="@Model.ProPrice"/><br/>
    <button type="submit">Submit</button>
</form>  