@{
    ViewBag.Title = "Detail";
    Layout = "~/Views/Shared/_Layout.cshtml";
}
@using STTSoft.Models
@{
    Product product = ViewBag.ProDetail;
}
@{
    List<Comment> comment = ViewBag.list;
}
@{
    List<Account> accounts = ViewBag.AccDL;
}
<!-- Page heading -->
<div class="page-head">
    <!-- Page heading -->
    <h2 class="pull-left">
        Chi tiết sản phẩm
        <!-- page meta -->
    </h2>
    <div class="clearfix">
    </div>
</div>
<!-- Page heading ends -->
<div class="row">
    <div class="col-md-5">
        <img src="@product.ProImage" alt="" style="width: 400px; height: 450px">
    </div>
    <div class="col-md-7">
        <h2 class="text-danger">@product.ProName
        </h2>
        <p class="text-danger" style="color: red">@product.ProPrice.ToString("0,0") VND</p>
        <label>
            Số lượng</label>
        <form action="/Home/AddToCart" method="POST">
        <input type="hidden" name="proId" value="@product.ProId"/>
        <input style="width: 50px" type="text" class="form-control" value="1" name="cartQuantity">
        @if ((string)Session["role"] != "D")
        {
            foreach (var adl in accounts)
            {
            <p>
                <input type="radio" name="AccDl" id="abc" value="@adl.AccName" checked="checked"/>Đại
                lý: @adl.AccName</p>
            }
        }
        <button class="btn btn-info btn-sm" style="margin-top: 5px">
            Add to cart</button>
        </form>
        <h3>
            Mô tả sản phẩm:</h3>
        <p>@product.ProDetail</p>
    </div>
</div>

<div class="row">
    <div class="col-md-12">
        <div class="widget wgreen">
            <div class="widget-head">
                <div class="pull-left">
                    Nhận xét</div>
                <div class="widget-icons pull-right">
                    <a href="#" class="wminimize"><i class="icon-chevron-up"></i></a>
                </div>
                <div class="clearfix">
                </div>
            </div>
            <div style="overflow: scroll; height: 400px">
                @foreach (var item in comment)
                {
                    <div class="widget-content">
                        <div class="padd">
                            <div class="user">
                                <div class="col-md-9">
                                    <div class="user-pic">
                                        <!-- User pic -->
                                        <a href="#">
                                            <img src="../Content/img/user.jpg" alt=""></a>
                                    </div>
                                    <div class="user-details">
                                        <h6>
                                            User <a class="text-danger">@item.AccName</a>
                                        </h6>
                                        <p>
                                            @item.ComContent</p>
                                    </div>
                                </div>
                                <div class="col-md-3">
                                    @if ((string) Session["role"] == "A")
                                    {
                                        <a href="/Home/DeleteComment?comId=@item.ComId&&proId=@product.ProId" class="btn btn-sm btn-danger"><i class="icon-remove"></i></a>
                                    }
                                </div>
                                <div class="clearfix">
                                </div>
                            </div>
                            <hr>
                        </div>
                    </div>
                }
            </div>
        </div>
    </div>
</div>
<form action="/Home/PostComment" method="POST">
<div class="row">
    <div class="col-md-8">
        <div class="widget wgreen">
            <div class="widget-head">
                <div class="pull-left">
                    Post Comment</div>
                <div class="widget-icons pull-right">
                    <a href="#" class="wminimize"><i class="icon-chevron-up"></i></a>
                </div>
                <div class="clearfix">
                </div>
            </div>
            <div class="widget-content" style="display: block;">
                <div class="padd">
                    <input type="hidden" name="proId" value="@product.ProId"/>
                    <textarea class="form-control" rows="3" placeholder="Textarea" name="txtComment"></textarea>
                    <button type="submit" class="btn btn-info" style="margin-top: 5px">
                        Send</button>
                </div>
            </div>
        </div>
    </div>
</div>
</form>
